@import "../../assets/scss/colors.scss";

.hiddenInput {
  display: none;
}

.DetailContestFileInput {
  .addFiles {
    background-color: $white;
    border: solid 0.5px $black;
    color: $black;
    font-weight: 400;
  }
}
