$black: #000000;
// $mainPrimaryTheme: #1f2630;
$mainPrimaryTheme: #fdfefe;
// $mainSecondaryTheme: #313741;
$mainSecondaryTheme: #fdfefe;
$primaryOrange: #f64b29;
// $primaryWhite: #ffe7d0;
$primaryWhite: #d0d3d4;
$primaryGreen: #24bc4f;
$gold: #f59a46;
// $white: #1f2630;
$white: #fdfefe;
$primaryBtn: #9c1766;
$link: #4ebfb9;
$menuHover: #212f3d;
// $headerBg: rgba(49, 55, 65, 0.5);
$headerBg: #0080ff;
$checkBoxBackGround: #178fef;
$userNameLink: #2d68f4;
$reputation: #216ba5;
$report: #1f9e0a;
$danger: #f90a0a;
$borderColor: rgba(112, 112, 112, 0.1);
$borderVerticalColor: rgba(104, 103, 103, 0.3);
$secondaryBg: rgba(78, 191, 185, 0.16);
$tagsOwner: rgba(0, 174, 255, 0.8);
$tagReporter: rgba(252, 113, 0, 0.8);
$greyBg: rgba(239, 239, 239, 0.2);
$placeholderColor: #3e3e3e;
$darkgrey: #0000000f;
$signInBtn: #5b5b5b;
$modalHeader: #f5f5f5;
$inputBorder: #178fef;
$boneSec: #d3d3d3;
$bonePrim: #ffffff;
$goldGradient: linear-gradient(
  to right,
  #cb9b51 22%,
  #f6e27a 45%,
  #f6f2c0 50%,
  #f6e27a 55%,
  #cb9b51 100%
);
$boxShadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
