@import "../../assets/scss/colors.scss";

.reportContainer {
  padding-top: 50px;
  .reportContainer {
    width: 96%;
    display: grid;
    // align-items: center;
    // justify-content: center;
  }
}
