@import "../../assets/scss/colors.scss";

.imageTag {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  width: auto;
  border: solid 0.5px $primaryWhite;
  color: $placeholderColor;
  background: $headerBg;
  font-weight: 300;
  span {
    text-transform: uppercase;
    color: $primaryWhite;
  }
  img {
    width: 10px;
    cursor: pointer;
  }
}
