@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mixin.scss";

.profileContainer {
  width: 96%;
  max-width: 96%;
  margin-top: 63px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  .profileLeftContainer {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 20px;
  }
  .profileInfo {
    background-color: $white;
    text-align: left;
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 20px;
    border-radius: 4px;
    @include header();
    padding-bottom: 20px;
    // height: 500px;
    // box-shadow: $boxShadow;
    .profileInfoBody {
      padding: 0px 10px 0px 10px;
      width: 100%;
      @include avatar();
      display: grid;
      grid-template-columns: min-content auto;
      column-gap: 10px;
      align-items: center;
      //   text-align: left;
      .userInfoContainer {
        display: grid;
        grid-template-rows: auto auto;
        span {
          font-weight: 400;
          color: $gold;
        }
        p {
          font-weight: 300;
          margin: 0px;
          font-size: 14px;
          color: $gold;
          span {
            font-weight: 300;
            color: $gold;
          }
        }
      }

      .skillsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-between;
        row-gap: 20px;
        span {
          font-weight: 300;
          color: $primaryWhite;
        }
      }
    }
    .desc {
      padding: 0px 10px 0px 10px;
      p {
        font-weight: 500;
        margin: 0px;
        font-size: 14px;
        color: $checkBoxBackGround;
      }
      span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: $primaryWhite;
      }
    }
  }
}
