@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mixin.scss";

.userReportsMainContainer {
  display: grid;
  grid-template-columns: 404px auto;
  min-width: 96%;
  max-width: 96%;
  margin-top: 50px;
  column-gap: 20px;

  // .outerReportContainer {
  //   min-height: 100vh;
  //   max-height: 100vh;
  // }
  .allReportsContainer {
    min-height: 83vh;
    max-height: 83vh;
    overflow-y: auto;
    // border: solid;
    min-height: 100%;
    box-shadow: 0px 3px 12px $darkgrey;
    @include header();
    min-height: 200px;
    background-color: $mainPrimaryTheme;
    .reports {
      padding: 10px 10px 10px 10px;
      min-width: 100%;
      display: grid;
      grid-template-rows: auto;
      row-gap: 10px;
      justify-content: start;
      border-bottom: solid 1px $primaryWhite;
      a {
        text-decoration: none;
        span {
          color: $black;
          &:hover {
            color: $userNameLink;
          }
        }
      }
    }
  }
  .reportDetailContainer {
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    min-height: 83vh;
    max-height: 83vh;
    overflow-y: auto;
    .report {
      box-shadow: none;
    }
    &::-webkit-scrollbar {
      width: 11px;
    }
    scrollbar-width: thin;
    scrollbar-color: $placeholderColor $placeholderColor;
    &::-webkit-scrollbar-track {
      background: $primaryWhite;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $signInBtn;
      border-radius: 6px;
      border: 3px solid $signInBtn;
    }
  }
}
